dataset:
  corpus:
    root: data/treebank3/
    train_path: ptb3-wsj-train.conllx
    dev_path: ptb3-wsj-dev.conllx
    test_path: ptb3-wsj-test.conllx
  embeddings:
    root: data/treebank3/ 
    train_path: elmo-layers.ptb3-train.hdf5
    dev_path: elmo-layers.ptb3-dev.hdf5
    test_path: elmo-layers.ptb3-test.hdf5
  distances:
    distances_batch_size: 4
    root: data/treebank3/distances/
    train_path: train/sentencedistances-ptb3-train
    dev_path: dev/sentencedistances-ptb3-dev
  batch_size: 4
model:
  hidden_dim: 1024 # ELMo hidden dim
  model_layer: 2 # BERT-base: {1,...,12}; ELMo: {1,2,3}
probe:
  task_signature: word_pair # word, word_pair
  maximum_rank: 1024
probe_training:
  epochs: 40
  loss: L1
